<div class="item">
  <div>Categoria</div>
  <div>
    <select name="category_id">
      {% for category in categories %}
        <option value="{{category_id}}" {% if product.category_id == category_id %} selected="selected" {% endif %}>
          {{category.name}}
          id
          {{category.id}}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="item">
  <div>Titulo</div>
  <div>
    <input type="text" name="name" placeholder="Nome do produto" value="{{products.name}}">
  </div>
</div>

<div class="item">
  <div>Descrição</div>
  <div>
    <textarea name="description">
      {{ product.description }}
    </textarea>
  </div>
</div>

{# Campo de Foto #}

<div class="item">
  <div>Valor do Produto</div>
  <div>
    <input type="text" name="price" placeholder="Digite o valor do produto" value="{{ product.price }}" {# Faremos uma mascara para dinheiro/reais #}>
  </div>

  {% if product.old_price %}
    <input type="hidden" name="old_price" value="{{ product.old_price }}">
  {% endif %}

</div>

<div class="item">
  <div>Quantidade</div>
  <div><input type="number" name="quantity" placeholder="Estoque disponivel" value="{{products.quantity}}"></div>
</div>

{% if product.status %}
  {# Se ja estiver cadastrado mostra, senão entra como disponivel imediatamente apos cadastro #}
  <div class="item">
    <div>Disponivel</div>
    <div>
      <span>
        <input type="radio" name="status" value="1" {% if product.status == "1" %} checked="checked" {% endif %}>Disponivel
      </span>
      <span>
        <input type="radio" name="status" value="0" {% if product.status == "0" %} checked="checked" {% endif %}>Indisponivel
      </span>
    </div>
  </div>
{% endif %}